@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}


html {
    scroll-behavior: smooth;
  }
  
#tsparticles{
<<<<<<< HEAD
    z-index: -1;
    position: absolute;
    opacity: 15%;
}  
=======
    z-index: -51;
    position: absolute;
    opacity: 25%;
}  

>>>>>>> c8fe08db1cf3a3bebc9fe725c33f7440480f2e34
